        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="large-block image-box style6">
                        <article class="box">
                            <figure class="col-md-5">
                                <a href="#" title="" class="middle-block"><img class="middle-item" src="images/quem-somos.png" alt="" width="476" height="318" /></a>
                            </figure>
                            <div class="details col-md-offset-5">
                                <h4 class="box-title">Quem somos?</h4>
                                <p>Quando se fala em negociação, não há nada que nos faça parar!</p>
                                <p>Somos inovadores e pensamos no bem estar do nossos clientes e parceiros. Queremos ajudar nosso clientes a ter a melhor experiência pelo preço que desejam pagar e ao mesmo ajudar nossos parceiros a alavancar os seus negócios gerando benefícios para a nossa comunidade.</p>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-md-5 pull-right middle-block">
                                <a href="#" title=""><img class="middle-item" src="images/o-que-fazemos.png" alt="" width="476" height="318" /></a>
                            </figure>
                            <div class="details col-md-7">
                                <h4 class="box-title">O que fazemos?</h4>
                                <p>Através da tecnologia ajudamos nossos clientes a realizar os seus objetivos buscando o melhor preço para o que desejam e contribuímos para o crescimento econômico do país.</p>
                                <p>Criamos um portal onde você define o quanto quer pagar pelo serviço ou produto.</p>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-md-5">
                                <a href="#" title="" class="middle-block"><img class="middle-item" src="images/como-funciona.png" alt="" /></a>
                            </figure>
                            <div class="details col-md-offset-5">
                                <h4 class="box-title">Como funciona o faleopreco.com?</h4>
                                <p>Você escolhe o serviço ou produto e o preço que quer pagar e deixa o resto com a gente! </p>
                            </div>
                        </article>
                    </div>

                    <div class="large-block text-center">
                        <h2>Conheça nossos parceiros de negócio</h2>
                        <p>Através de parcerias construtivas viabilizamos a geração de valor compartilhado para você, nossos parceiros e para a sociedade.</p>
                        <div class="investor-list row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/expedia.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/american-airlines.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/tripadvisor.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/travelocity.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/carlson.png" alt=""></a>
                                </div>
                            </div>
                             <div class="col-xs-6 col-sm-4 col-lg-2">
                                <div class="travelo-box">
                                    <a href="#"><img src="images/partners/booking.png" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="row large-block">
                        <div class="col-sm-6 col-md-3">
                                <div class="icon-box style3 counters-box">
                                    <div class="numbers">
                                        <i class="soap-icon-hotel blue-color"></i>
                                        <span class="display-counter" data-value="5738">5738</span>
                                    </div>
                                    <div class="description">Hotéis para reservar</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="icon-box style3 counters-box">
                                    <div class="numbers">
                                        <i class="soap-icon-places yellow-color"></i>
                                        <span class="display-counter" data-value="180">180</span>
                                    </div>
                                    <div class="description">Cidades de atuação</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="icon-box style3 counters-box">
                                    <div class="numbers">
                                        <i class="soap-icon-plane green-color"></i>
                                        <span class="display-counter" data-value="4509">4509</span>
                                    </div>
                                    <div class="description">Linhas aéreas para viajar no mundo</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="icon-box style3 counters-box">
                                    <div class="numbers">
                                        <i class="soap-icon-car red-color"></i>
                                        <span class="display-counter" data-value="3250">3250</span>
                                    </div>
                                    <div class="description">Opções de transporte VIP</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end main -->
            </div>
        </section>
        
        