        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Mapa do site</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Mapa do site</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div id="main" class="sitemap">
                    <div class="row add-clearfix">
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Home</h6>
                                <ul class="circle">
                                    <li><a href="index.html">Home</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Hotéis</h6>
                                <ul class="circle">
                                    <li><a href="index.html">Pesquisar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Passagens aéreas</h6>
                                <ul class="circle">
                                    <li><a href="index.html">Pesquisar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="column">
                                <h6 class="title">Quem somos</h6>
                                <ul class="circle">
                                    <li><a href="about-us.html">Quem somos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>